* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#blockGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  }